body {
    max-width: 1321px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 5vw;
    color: white;
    margin-left: 30px;
    margin-bottom: 0%;
}

.top-banner {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    color: white;
    cursor: progress;
    margin-top: 50px;
}

.top-banner .container {
    width: 50%;
}

.container p {
    margin-left: 30px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 25px;
    border-radius: 8px;
    margin-left: 30px;
}

.container img {
    max-width: 100%;
    position: center;
    margin-bottom: 0%;
}

/* main section starts */
.middle-section {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    cursor: pointer;
    gap: 15px;

}

.container-1 {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-height: 350px;
    border-radius: 15px;
    align-items: center;
}

.side-button {
    width: 68%;
    font-size: 1.5em;
    border: 1px solid cornsilk;
    background-color: rgba(203, 192, 192, 0.971);
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
}

.blog-button {
    width: 68%;
    font-size: 1.5em;
    border: 1px solid cornsilk;
    background-color: red;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container-2 {
    max-width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    cursor: pointer;
}

.container-2 .box {
    border: 1px solid rgb(222, 218, 212);
    border-radius: 5%;
    padding: 5%;
}

.container-2 img {
    max-width: 100%;
}



footer {
    position: relative;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 0%;

}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

nav li {
    list-style: none;
    margin-right: 3%;
    margin-left: 3%;

}

nav li:hover {
    background-color: rosybrown;
    cursor: alias;
}

nav li a {
    text-decoration: none;
    color: white;
}

footer p {
    padding-bottom: 10%;
}

@media screen and (max-width: 576px) {
    .top-banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
    }

    .container {
        text-align: center;
    }

}

@media screen and (max-width: 576px) {
    .middle-section {
        display: block;
    }

    .container-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    nav>ul {
        display: block;

    }
}

@media screen and (min-width: 577px) and (max-width:992px) {
    .middle-section {
        display: block;
    }

    .container-1 {
        display: flex;
        flex-direction: row;
    }

    .container-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width:993px) {
    .container-1 {
        background-color: black;
    }
}