body {
    max-width: 1321px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 5vw;
    color: white;
    margin-left: 30px;
    margin-bottom: 0%;
}

.top-banner {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    color: white;
}

.top-banner .container {
    width: 50%;
}

.container p {
    margin-left: 30px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 25px;
    border-radius: 8px;
    margin-left: 30px;
}

.container img {
    max-width: 100%;
    position: center;
    margin-bottom: 0%;
}

@media screen and (max-width: 576px) {
    .top-banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}